.categories-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);

    .category{
        margin:5px;
        width: 90%;
        height: 380px;
        border-radius:5px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        cursor: pointer;
        &:hover{       
            transform: scale(1.1);
        }
    }
    .category{
        img{
            width: 100%;
            object-fit: cover;
            height: 253px;
        }
        text-align: center;
        h1{
            color: #ddd;
            font-size: 2em;
            padding: 10px 0;
            &:hover{
                cursor: pointer;
                color:#FF5A5F;
                transition: all 0.4s ease-in-out;

            }
        }

    }
}
.heading{
    text-align: center;
    color: #FF5A5F;
}