/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./app/Profile/profile_style.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.profile-unauth h4 {
  text-align: center;
  color: #fd5c63;
}
.profile-unauth a {
  text-decoration: none;
  color: white;
  background-color: #9ca3af;
  padding: 5px;
  border-radius: 3px;
  margin-left: 42vw;
}

.profile-navbar {
  margin-top: 80px;
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}
.profile-navbar input {
  width: 150px;
  height: 30px;
  border-radius: 4px;
  background: #f6f7fa;
  color: #9ca3af;
  font-size: 1.2rem;
  padding: 0 10px;
  outline: none;
  border: none;
  cursor: pointer;
}
.profile-navbar input::placeholder {
  color: #9ca3af;
}
.profile-navbar button {
  width: 150px;
  height: 30px;
  border-radius: 4px;
  background: #fd5c63;
  color: #f6f7fa;
  font-size: 1.2rem;
  padding: 0 10px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.profile-navbar button:hover {
  transform: scale(1.1);
}
.profile-navbar a {
  margin-left: 10px;
  text-decoration: none;
  color: #9ca3af;
  transition: all 0.3s ease;
}
.profile-navbar a:hover {
  transform: scale(1.1);
  color: #fd5c63;
}

.user_blogs_h2 {
  text-align: center;
}

.bottom-border {
  width: 70%;
  margin-top: 0;
}

.user_blogs {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.user_blogs .blog-card {
  text-align: center;
  max-width: 300px;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 350px;
}
.user_blogs .blog-card .blog-image {
  width: 100%;
}
.user_blogs .blog-card .blog-image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.user_blogs .blog-card .hearts, .user_blogs .blog-card .number-comments, .user_blogs .blog-card .views {
  text-align: center;
  font-size: 16px;
  color: #9a7c7c;
  padding: 2px 26px;
  padding-top: 3px;
  background-color: #ddd;
  border-right: 1px solid white;
  cursor: pointer;
}
.user_blogs .blog-card .hearts:hover, .user_blogs .blog-card .number-comments:hover, .user_blogs .blog-card .views:hover {
  background-color: #f5bcbc;
  transform: scale(1.05);
}
.user_blogs .blog-card .hearts img, .user_blogs .blog-card .number-comments img, .user_blogs .blog-card .views img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.user_blogs .blog-card .views {
  padding-right: 27px;
  border-right: none;
}
.user_blogs .blog-card .impressions {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./app/Home/home_style.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.recommended-blogs {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}
.recommended-blogs .blog-card {
  box-shadow: -1px 1px 22px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 22px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 22px 0px rgba(0, 0, 0, 0.75);
  text-align: center;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 350px;
  padding-bottom: 0;
}
.recommended-blogs .blog-card .blog-image {
  width: 100%;
}
.recommended-blogs .blog-card .blog-image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.recommended-blogs .blog-card .overview {
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: nowrap;
  overflow: hidden;
}
.recommended-blogs .blog-card .hearts, .recommended-blogs .blog-card .number-comments, .recommended-blogs .blog-card .views {
  margin-top: 38px;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
  font-size: 16px;
  color: #9a7c7c;
  padding: 2px 26px;
  padding-top: 3px;
  background-color: #ddd;
  border-right: 1px solid white;
  width: 50px;
  cursor: pointer;
}
.recommended-blogs .blog-card .hearts:hover, .recommended-blogs .blog-card .number-comments:hover, .recommended-blogs .blog-card .views:hover {
  background-color: #f5bcbc;
  transform: scale(1.05);
}
.recommended-blogs .blog-card .hearts img, .recommended-blogs .blog-card .number-comments img, .recommended-blogs .blog-card .views img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.recommended-blogs .blog-card .views {
  padding-right: 27px;
  border-right: none;
}
.recommended-blogs .blog-card .impressions {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./app/Components/Spinner/LoadingSpinner.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.loading-spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
